<div class="row m-b-18px">
    <div class="col-md-12">
        <a (click)="readAll()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-list'></span> Read Authors
        </a>
    </div>
  </div>
  
  <div class="row">
  <div class="col-md-12">
  
  <form [formGroup]="form" (ngSubmit)="create()">
  <table class="table table-hover table-responsive table-bordered">
  
    <tr>
        <td>Name (English)</td>
        <td>
            <input
                formControlName="nameEn"
                name="nameEn" class="form-control" required />
  
                <div
                    *ngIf="form.get('nameEn')?.touched && form.get('nameEn').hasError('required')"
                    class="alert alert-danger">
                    Name is required.
                </div>
        </td>
    </tr>

    <tr>
        <td>Name (Portuguese)</td>
        <td>
            <input
                formControlName="namePt"
                name="namePt" class="form-control" />
        </td>
    </tr>

    <tr>
        <td>Name (Spanish)</td>
        <td>
            <input
                formControlName="nameEs"
                name="nameEs" class="form-control" />
        </td>
    </tr>

    <tr>
        <td>About (English)</td>
        <td>
            <textarea
                formControlName="aboutEn"
                name="aboutEn" class="form-control" required></textarea>
  
                <div
                    *ngIf="form.get('aboutEn')?.touched && form.get('aboutEn').hasError('required')"
                    class="alert alert-danger">
                    About is required.
                </div>
        </td>
    </tr>

    <tr>
        <td>About (Portuguese)</td>
        <td>
            <textarea
                formControlName="aboutPt"
                name="aboutPt" class="form-control"></textarea>
        </td>
    </tr>

    <tr>
        <td>About (Spanish)</td>
        <td>
            <textarea
                formControlName="aboutEs"
                name="aboutEs" class="form-control"></textarea>
        </td>
    </tr>

    <tr>
        <td>Image Url</td>
        <td>
            <input
                formControlName="imageUrl"
                name="imageUrl" class="form-control" />
        </td>
    </tr>    

    <tr>
      <td></td>
      <td >
          <div class="checkbox">
              <label><input type="checkbox" formControlName="enabled" name="enabled" value="">Enabled</label>
            </div>
      </td>
    </tr>
  
    <tr>
        <td></td>
        <td>
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                <span class="glyphicon glyphicon-plus"></span> Create
            </button>
        </td>
    </tr>
  </table>
  </form>
  
  </div>
  </div>