<div class="row m-b-18px">
    <div class="col-md-12">
        <a (click)="readAll()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-list'></span> Read Phrases
        </a>
    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
        <table class='table table-hover table-responsive table-bordered'>

            <tr>
                <td class="w-40-pct">Id</td>
                <td>{{model?.id}}</td>
            </tr>

            <tr>
                    <td>Lang</td>
                    <td>{{getLangName(model?.lang)}}</td>
                </tr>
    
            <tr>
                <td>Text</td>
                <td>{{model?.text}}</td>
            </tr>
 
            <tr>
                <td>Author</td>
                <td>{{model?.authorName}}</td>
            </tr>

            <tr>
                <td>Image Url</td>
                <td><a href="{{model?.imageUrl}}" target="_blank">{{model?.imageUrl}}</a></td>
            </tr>

            <tr>
                    <td>CreatedAt</td>
                    <td>{{model?.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
                <tr>
                        <td>ModifiedAt</td>
                        <td>{{model?.modifiedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
            <tr>
                <td>Enabled</td>
                <td>{{model?.enabled}}</td>
            </tr>
 
        </table>
    </div>
</div>