<div class="row m-b-18px">
  <div class="col-md-12">
    <a (click)="create()" class='btn btn-primary pull-right'>
        <span class='glyphicon glyphicon-plus'></span> Create
    </a> 
    <a (click)="mix()" class='btn link pull-right'>
        Mix
    </a>
    <a (click)="authors()" class='btn link pull-right'>
        Authors
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

      <table class='table table-hover table-responsive table-bordered'>

          <tr>
              <th></th>
              <th></th>
              <th>Id</th>
              <th>Author</th>
              <th>Lang</th>
              <th>CreatedAt</th>
              <th>ModifiedAt</th>
              <th>Enabled</th>
              <th>Actions</th>
          </tr>

          <tr *ngFor="let item of items; let i = index" >
              <td><input type="checkbox" (change)="markToSwap(item)" [disabled]="isDisabled(item)" [checked]="isChecked(item)"></td>
              <td class="handle">{{i+1}}</td>
              <td>{{item.id}}</td>
              <td>{{item.authorName}}</td>
              <td>{{getLangName(item.lang)}}</td>
              <td>{{item.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td>{{item.modifiedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              <td><input type="checkbox" disabled checked="{{item.enabled ? 'checked' : ''}}"></td>
              <td>
                  <a (click)="read(item.id)" class='btn btn-primary m-r-5px'>
                      <span class='glyphicon glyphicon-eye-open'></span>
                  </a>

                  <a (click)="update(item.id)" class='btn btn-info m-r-5px'>
                      <span class='glyphicon glyphicon-edit'></span>
                  </a>

                  <a (click)="delete(item.id)" class='btn btn-danger m-r-5px'>
                      <span class='glyphicon glyphicon-remove'></span>
                  </a>
              </td>
          </tr>
      </table>
  </div>
</div>
