<div class="user-status" *ngIf="authService.user | async">
    <span>{{ (authService.user | async)?.email }}</span>
    <button class="btn btn-primary btn-xs" (click)="logout()">
        Logout
    </button>
</div>

<div class="row">
    <div class="col-md-12">
        <div class='page-header'><h1>{{title}}</h1></div>
    </div>
</div>

<app-read-phrases
    *ngIf="show_read_phrases_html"
    (show_create_phrase_event)="showCreatePhrase($event)"
    (show_read_phrase_event)="showReadPhrase($event)"
    (show_update_phrase_event)="showUpdatePhrase($event)"
    (show_delete_phrase_event)="showDeletePhrase($event)">
</app-read-phrases>

<app-create-phrase
   *ngIf="show_create_phrase_html"
   (show_read_phrases_event)="showReadPhrases($event)">
</app-create-phrase>

<app-read-phrase
   *ngIf="show_read_phrase_html"
   (show_read_phrases_event)="showReadPhrases($event)"
   [id]="id">
</app-read-phrase>

<app-update-phrase
   *ngIf="show_update_phrase_html"
   [id]="id"
   (show_read_phrases_event)="showReadPhrases($event)">
</app-update-phrase>

<app-delete-phrase
   *ngIf="show_delete_phrase_html"
   [id]="id"
   (show_read_phrases_event)="showReadPhrases($event)">
</app-delete-phrase>