<div class="row m-b-18px">
    <div class="col-md-12">
        <a (click)="readAll()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-list'></span> Read Authors
        </a>
    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
        <table class='table table-hover table-responsive table-bordered'>

            <tr>
                <td class="w-40-pct">Id</td>
                <td>{{model?.id}}</td>
            </tr>

            <tr>
                <td>Name (English)</td>
                <td>{{model?.nameEn}}</td>
            </tr>

            <tr>
                <td>Name (Portuguese)</td>
                <td>{{model?.namePt}}</td>
            </tr>
            <tr>
                <td>Name (Spanish)</td>
                <td>{{model?.nameEs}}</td>
            </tr>
            
            <tr>
                <td>About (English)</td>
                <td>{{model?.aboutEn}}</td>
            </tr>

            <tr>
                <td>About (Portuguese)</td>
                <td>{{model?.aboutPt}}</td>
            </tr>

            <tr>
                <td>About (Spanish)</td>
                <td>{{model?.aboutEs}}</td>
            </tr>

            <tr>
                <td>Image Url</td>
                <td><a href="{{model?.imageUrl}}" target="_blank">{{model?.imageUrl}}</a></td>
            </tr>

            <tr>
                    <td>CreatedAt</td>
                    <td>{{model?.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>

                <tr>
                    <td>ModifiedAt</td>
                    <td>{{model?.modifiedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>

            <tr>
                <td>Enabled</td>
                <td>{{model?.enabled}}</td>
            </tr>
 
        </table>
    </div>
</div>