<div class="row m-b-18px">
    <div class="col-md-12">
        <a (click)="readAll()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-list'></span> Read Phrases
        </a>
    </div>
  </div>
  
  <div class="row">
  <div class="col-md-12">
  
  <form [formGroup]="form" (ngSubmit)="update()">
  <table class="table table-hover table-responsive table-bordered">
  
        <tr>
                <td>Lang</td>
                <td>
                    <select formControlName="lang" name="lang" class="form-control">
                            <option
                                *ngFor="let item of langs" value="{{item.id}}"
                                [selected]="lang == item.id"
                                value='{{item.id}}'>
                                {{item.name}}
                            </option>
                        </select>
                    <div
                        *ngIf="form.get('lang')?.touched && form.get('lang').hasError('required')"
                        class="alert alert-danger">
                        Language is required.
                    </div>
                </td>
            </tr>

    <tr>
        <td>Text</td>
        <td>
            <textarea
                formControlName="text"
                name="text" class="form-control" required></textarea>
  
                <div
                    *ngIf="form.get('text')?.touched && form.get('text').hasError('required')"
                    class="alert alert-danger">
                    Text is required.
                </div>
        </td>
    </tr>
  
    <tr>
        <td>Author</td>
        <td>
            <select formControlName="authorId" name="authorId" class="form-control">
                <option 
                    *ngFor="let item of authors" value="{{item.id}}"
                    [selected]="authorId == item.id"
                    value='{{item.id}}'>
                    {{item.nameEn}}
                </option>
            </select>
            
            <div
                *ngIf="form.get('authorId')?.touched && form.get('authorId').hasError('required')"
                class="alert alert-danger">
                Author is required.
            </div>
        </td>
    </tr>
    
    <tr>
        <td>Image Url</td>
        <td>
            <input
                formControlName="imageUrl"
                name="imageUrl" class="form-control" />
        </td>
    </tr> 

    <tr>
            <td></td>
      <td>
          <div class="checkbox">
              <label><input type="checkbox" formControlName="enabled" name="enabled" value="">Enabled</label>
            </div>
      </td>
    </tr>
  
    <tr>
        <td></td>
        <td>
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                <span class="glyphicon glyphicon-edit"></span> Update
            </button>
        </td>
    </tr>
  </table>
  </form>
  
  </div>
  </div>