<div *ngIf="!(authService.user | async)">
  
        <div class="form-signin">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <button class="btn btn-lg btn-primary btn-block" (click)="login()" [disabled]="!email || !password">Sign in</button>
        </div>

</div>

<div class="user-status" *ngIf="authService.user | async">
    <span>{{ (authService.user | async)?.email }}</span>
    <button class="btn btn-primary btn-xs" (click)="logout()">
        Logout
    </button>
</div>

