
<div class="user-status" *ngIf="authService.user | async">
    <span>{{ (authService.user | async)?.email }}</span>
    <button class="btn btn-primary btn-xs" (click)="logout()">
        Logout
    </button>
</div>

<div class="row">
    <div class="col-md-12">
        <div class='page-header'><h1>{{title}}</h1></div>
    </div>
</div>

<app-read-authors
    *ngIf="show_read_authors_html"
    (show_create_author_event)="showCreateAuthor($event)"
    (show_read_author_event)="showReadAuthor($event)"
    (show_update_author_event)="showUpdateAuthor($event)"
    (show_delete_author_event)="showDeleteAuthor($event)">
</app-read-authors>

<app-create-author
   *ngIf="show_create_author_html"
   (show_read_authors_event)="showReadAuthors($event)">
</app-create-author>

<app-read-author
   *ngIf="show_read_author_html"
   (show_read_authors_event)="showReadAuthors($event)"
   [id]="id">
</app-read-author>

<app-update-author
   *ngIf="show_update_author_html"
   [id]="id"
   (show_read_authors_event)="showReadAuthors($event)">
</app-update-author>

<app-delete-author
   *ngIf="show_delete_author_html"
   [id]="id"
   (show_read_authors_event)="showReadAuthors($event)">
</app-delete-author>